#subtitles{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(196,48,43);
    width: 270px;
    min-height: 200px;
    border: outset 3px black;
    max-height: 500px;
    overflow: hidden;
}



li{

    background-color: rgba(196, 158, 156, 0.7);

}
li:hover{
    
    cursor: pointer;
    border: black outset 5px;
    background-color: rgb(196,48,43,0.9);
}

