body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    padding: 0;
    max-height: 400px;
    overflow: auto;
    
}

li{
    overflow: hidden;
    display: flex;   
    margin: 0;
    list-style-type: none;
    margin-bottom: 15px;
    width: 240px;
    height: 50px;
 
}

b{  

    z-index: 1;
    flex: 0;
    margin: 0;
    margin-left: 10px;
    margin-top: 7.5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    height: 25px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0);
}

@font-face {
    font-family: youtube;
    src: url(youtube-sans-medium.ttf);
}
p{
    font-family: youtube;
    width: 220px;
    margin-left: 5px;
    font-size: 15px;
}

li:hover{
    
    cursor: pointer;
   
    background-color: #f2f2f2;
}

body{
    width: 270px;
    max-height:500px ;
    background-color: rgb(66, 66, 66);
}

